.void {
    $background-color: white;
    $text-color: black;
    $highlight-color: black;
    $highlight-text-color: white;
    $underLine-color: red;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }

    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $underLine-color;
            color: $highlight-text-color;
        }
    }

    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.mork {
    $background-color: gold;
    $text-color: black;
    $highlight-color: white;
    $highlight-text-color: black;
    $underLine-color: black;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $underLine-color;
            color: $highlight-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.terminal {
    $background-color: rgb(51, 32, 42);
    $text-color: rgb(138, 234, 146);
    $highlight-color: #b0e7b4;
    $highlight-text-color: black;
    $underLine-color: #b0e7b4;
    $hover-background: rgb(138, 234, 146);
    $hover-color: rgb(51, 32, 42);
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.dark {
    $background-color: black;
    $text-color: white;
    $highlight-color: lightgray;
    $highlight-text-color: black;
    $underLine-color: lightgray;
    $hover-background: white;
    $hover-color: black;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.malfunction {
    $background-color: rgb(51, 32, 42);
    $text-color: rgb(255,0,128);
    $highlight-color: cyan;
    $highlight-text-color: black;
    $underLine-color: cyan;
    $hover-background: rgb(255,0,128);
    $hover-color: white;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.bi {
    $background-color: cyan;
    $text-color: rgb(255,0,128);
    $highlight-color: rgb(212, 4, 212);
    $highlight-text-color: white;
    $underLine-color: rgb(212, 4, 212);
    $hover-background: rgb(255,0,128);
    $hover-color: white;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.blues {
    $background-color: white;
    $text-color: blue;
    $highlight-color: blue;
    $highlight-text-color: white;
    $underLine-color: blue;
    $hover-background: black;
    $hover-color: white;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.slasher {
    $background-color: #f0f;
    $text-color: white;
    $highlight-color: gold;
    $highlight-text-color: black;
    $underLine-color: gold;
    $hover-background: cyan;
    $hover-color: black;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.forsaken {
    $background-color: black;
    $text-color: red;
    $highlight-color: red;
    $highlight-text-color: white;
    $underLine-color: red;
    $hover-background: white;
    $hover-color: red;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}

.gameboy {
    $background-color: rgb(0, 53, 0);
    $text-color: lightgreen;
    $highlight-color: green;
    $highlight-text-color: lightgreen;
    $underLine-color: green;
    $hover-background: black;
    $hover-color: green;
    background-color: $background-color;
    color: $text-color;

    .highlight {
        background-color: $highlight-color;
        color: $highlight-text-color;
    }
    .clickable {
        border-bottom: 2px solid $underLine-color;
        &:hover {
            background-color: $hover-background;
            color: $hover-color;
        }
    }
    .title {
        .highlight.clickable {
            border: none;
        }
    }
}