@use 'themes.scss';

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    height: 98vh;
    width: 100%;
    grid-gap: 0.5rem;

    .print {
        place-self: end center;
        user-select: none;
        cursor: pointer;
        .clickable {
            border-bottom: none;
        }
    }

    .footer {
        font-size: 0.8rem;
        place-self: stretch;
        display: grid;
        span {
            place-self: center;
        }

        .clickable {
            border-bottom: none;
        }
    }

    .highlight {
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    }
}

.mission-generator {
    padding: 0rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 0.5rem repeat(9, min-content);
    grid-gap: 1rem;
    place-content: center;
    font-size: 1.2rem;

    .title {
        font-weight: bold;
        font-size: 1.6rem;
        display: grid;
        place-self: center;
        border: none;
    }

    div.themeChooser {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(10, min-content);
        grid-gap: 0.5rem;
        font-size: 1rem;
        place-self: center;
        
        .clickable {
            cursor: pointer;
            border-bottom: none;
        }
    }
    
    .clickable {
        text-transform: uppercase;
        cursor: pointer;
        padding: 1px;
    }
}

@media only screen and (min-width: 768px) {
    .main-grid {
        .themeChooser {
            top: 7%;
            right: 39%;
        }

        .mission-generator {
            $areas: theme, contact, patron, reward, job, location, distinct, hidden, danger, geo, security, comp;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: min-content 1rem repeat(5, min-content);
            grid-template-areas:
                "title      title       title"
                "theme      theme       theme"
                "contact    patron      reward"
                "job          job        job"
                "location     geo         security"
                "distinct   hidden      danger"
                "comp       comp        comp";

            .title {
                grid-area: title;
                span {
                    font-size: 3rem;
                    span {
                        font-size: 3rem;
                    }
                }
            }

            .themeChooser {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(10, min-content);
                grid-gap: 0.5rem;
                
                .clickable {
                    cursor: pointer;
                    border-bottom: none;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                span.clickable {
                    font-size: 1.8rem;
                }
                @each $area in $areas {
                    &.#{$area} {
                        grid-area: #{$area};
                    }
                    &.job {
                        place-self: center;
                        width: 50%;
                        display: grid;
                        grid-template-columns: 20% 80%;
                        grid-template-rows: repeat(2, min-content);
                        grid-template-areas: 
                            "title      title"
                            "descrip    target";
                        .section-title {
                            grid-area: title;
                        }
                        .descrip {
                            grid-area: descrip;
                        }
                        .target {
                            grid-area: target;
                        }
                    }
                    &.comp {
                        place-self: center;
                        width: 55%;
                    }
                }
            }
        }
        .footer {
            grid-template-columns: repeat(2, auto);
            span:nth-child(1) {
                place-self: center start;
            }
            span:nth-child(2) {
                place-self: center end;
            }
        }
        .print {
            font-size: 1.2rem;
        }
    }

}

@media print {
   .no-print {
       display: none;
   }

   .main-grid {
    div.themeChooser.no-print {
        display: none;
    }

    .mission-generator {
        $areas: contact, patron, reward, job, location, distinct, hidden, danger, geo, security, comp;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, min-content);
        grid-template-areas:
            "title      title       title"
            "contact    patron      reward"
            "job          job        job"
            "location     geo         security"
            "distinct   hidden      danger"
            "comp       comp        comp";

        .title {
            grid-area: title;
            span {
                font-size: 3rem;
                span {
                    font-size: 3rem;
                }
            }
        }

        div {
            display: flex;
            flex-direction: column;
            span.clickable {
                font-size: 1.6rem;
            }
            @each $area in $areas {
                &.#{$area} {
                    grid-area: #{$area};
                }
                &.job {
                    place-self: center;
                    width: 50%;
                    display: grid;
                    grid-template-columns: 20% 80%;
                    grid-template-rows: repeat(2, min-content);
                    grid-template-areas: 
                        "title      title"
                        "descrip    target";
                    .section-title {
                        grid-area: title;
                    }
                    .descrip {
                        grid-area: descrip;
                    }
                    .target {
                        grid-area: target;
                    }
                }
                &.comp {
                    place-self: center;
                    width: 55%;
                }
            }
        }
    }
    .footer {
        grid-template-columns: repeat(2, auto);
        span:nth-child(1) {
            place-self: center start;
        }
        span:nth-child(2) {
            place-self: center end;
        }
    }
}
}
