.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    height: 100vh;
    width: 100%;
    grid-gap: 0.5rem;

    .print {
        place-self: end center;
        user-select: none;
        cursor: pointer;
    }

    .footer {
        font-size: 0.8rem;
        place-self: stretch;
        display: grid;
        span {
            place-self: center;
        }
        // grid-template-columns: repeat(2, auto);
        // span:nth-child(1) {
        //     place-self: center start;
        // }
        // span:nth-child(2) {
        //     place-self: center end;
        // }
    }

    .highlight {
        background-color: black;
        color: white;
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    }
}

.mission-generator {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, min-content);
    grid-gap: 1rem;
    place-content: center;
    font-size: 1.2rem;

    .title {
        font-weight: bold;
        font-size: 1.6rem;
    }
    
    .clickable {
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: 1px solid red;
        padding: 1px;
    }
}

strong {
    background-color: red;
    color: white;
}

@media print {
   .no-print {
       display: none;
   } 
}
