/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'VT323';
    src: url(/cyborg-missions/assets/fonts/VT323-Regular.ttf) format("truetype");
    // src: url(/assets/fonts/VT323-Regular.ttf) format("truetype");
    font-weight:400;
}


body {
    font-family: 'VT323', sans-serif;
}
