/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'VT323';
    src: url(/assets/fonts/V323-Regular.tff) format("truetype");
    font-weight:300;
}

body {
    display: grid;
    place-content: center;
    font-family: 'VT323', sans-serif;
}

